.jumbotron, .panel-heading {
    background-color: #d1c6f8;
}

.jumbotron h1 {
    color: white;
}

body, html {
    margin: 40px;
    background-image: url('pattern.jpeg');
    background-size: 200px;
    font-family: Raleway;
    
}

img {
    height: 200px;
}

.seal {
    height: 75px;
    width: 75px;
}

.footer {
    align-content: center;
    height: 100px;
    z-index: 5;
}

.panel panel-primary {
    text-align: left;
}
