/* General setup */
/*didn't do the fonts right.  fix this */



* {
  box-sizing: border-box;

}

body {
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 2.0;
  font-size: 3em;
}

/* Layout */

section {
  float: left;
  width: 50%;

}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
  text-align: center;
}

/* WRITE YOUR CODE BELOW HERE */

html {
    font-size: 10px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
}

section h2 + p {
  text-indent: 20px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

a {
  outline: none;
  font-size: 1em;
}

a[href*="http"] {
  padding-right: 19px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 16px 16px;
}

a:link, a:visited {
  color: grey;
}


a:focus, a:hover {
  text-decoration: none;
}


a:active {
  color: transparent;
  text-shadow: 0px 0px 1px #f00,
  0px 0px 2px #f00,
  0px 0px 3px black,
  0px 0px 3px black;
}

ul, ol {
  margin: 1.6rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid #a66;
}

nav li a:focus, nav li a:hover {
  color: white;
  background: #a66;
}

nav li a:active {
  color: white;
  background: black;
}











































