/* GRRRRID VERSION OF RESUME USING CSS */


p {

}

body {
	font: normal 16px Raleway, Verdana, sans-serif;
	
}



a {

}

h1 {
	font-size: 18px;
	font-weight: 700;
}

h6 {
	grid-row: 5 / span 1;
	grid-column: 2 / span 1;
}

ul {
	list-style-type: none;
}

.grid {
	display: grid;
	height: 1000px;
	width: 90%;
	grid-template: repeat(4 1fr) 20px / repeat(6 1fr);
	padding: 20px;

}


.name {
	grid-row: 1 / span 1;
	grid-column: 2 / span 2;
	text-align: center;
}

.profile {
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
	padding: 10px;

}

.profile p {
	
	margin: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.education {
	grid-row: 2 / span 1;
	grid-column: 3 / span 1;
	padding: 10px;
	display: inline-block;
}

.workexperience {
	background-color: rgb(215, 237, 232);
	grid-row: 3 / span 1;
	grid-column: 2 / span 2;
	margin-bottom: 20px;
}

.workexperience li {
	margin: 10px;
}

.proskills {
	background-color: rgb(197, 224, 243);
	color: white;
	padding-bottom: 10px;
	grid-row: 4 / span 1;
	grid-column: 2 / span 1;
	display: inline-block;
}

.proskills li {
	background-color: rgb(158, 196, 222);
	width: 50%;
	padding: 2px;
	margin: 5px;
}
 
.softskills {
	background-color: rgb(197, 224, 243);
	color: white;
	padding-bottom: 10px;
	grid-row: 4 / span 1;
	grid-column: 3 / span 1;
	display: inline-block;
}

.softskills li {
	background-color: rgb(158, 196, 222);
	width: 50%;
	padding: 2px;
	margin: 5px;

}

.devskills {
	background-color: rgb(197, 224, 243);
	color: white;
	padding-bottom: 10px;
	grid-row: 4 / span 1;
	grid-column: 3 / span 1;
	display: inline-block;
}

.devskills li {
	background-color: rgb(158, 196, 222);
	width: 50%;
	padding: 2px;
	margin: 5px;
}

.img {
	height: 50px;
	width: 50px;
}

.bullets {
	margin: 2px;
}


