

#wrapper {
	background-color: #D00018;
	margin: 0 auto;
	height: 420px;
	width: 420px;
	border-radius: 1%
}

.myDiv {
	align-items: center;
	background-color: #fff;
	border: 1px solid rgba(20, 20, 20, 0.1);
	height: auto;
	box-sizing: border-box;
	height: auto;
	width: auto;
}

.gridcontainer {
	height: 300px;
	width: 300px;
	position: relative;
	display: grid;
	margin: 0 auto
}