#container {
	position: relative;
	top: 30px;
	font-size: 0;
	margin: auto;
	height: 400px;
	width: 500px;
	padding: 0;
	border-top: 20px solid red;
    border-bottom: 60px solid red;
    border-left: 20px solid red;
    border-right: 20px solid red;
	border-radius: 25px;
}

#grid {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 480px;
	height: 480px;
	padding: 0 0;
	margin: 0 0;
}

.newGrid {
	margin: 10;
	padding: 10;
	border: 1px solid black;
	outline: 1px solid #000;
	display: inline-block; 
}



#container div {
	width: 20px;
	height: 20px;
}